.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;

  background: white;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  text-decoration: none;
  color: #0f172a;

  font-size: 1.8rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #334155;
  font-weight: 500;

  transition: 0.3s;
}

.nav-links a:hover {
  color: #2563eb;
}

.get-started-btn {
  background: #2563eb;
  color: white !important;

  padding: 10px 18px;

  border-radius: 10px;

  transition: 0.3s;
}

.get-started-btn:hover {
  background: #1d4ed8;
}
.welcome-user {
  font-weight: 600;
  color: #1e293b;
}

.logout-btn {
  border: none;
  background: #ef4444;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.logout-btn:hover {
  background: #dc2626;
}